<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.mobile.otrcapitalllc"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/OTRThemeNoActionBar">
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.LoginScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:theme="@style/OTRThemeNoActionBar"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:label="@string/title_activity_main_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRThemeNoActionBar">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.LoginScreen"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.ContactUs"
            android:label="@string/title_activity_contact_us"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.History"
            android:label="@string/title_activity_history"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.FactorAdvanceLoad"
            android:label="@string/title_activity_factor_advance_load"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.BrokerCheck"
            android:label="@string/title_activity_broker_check"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.BrokerDetails"
            android:label="@string/title_activity_broker_details"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.BrokerCheck"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.LoadDetails"
            android:label="@string/title_activity_load_details"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.RefineCapture"
            android:label="@string/title_activity_refine_capture"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.LoadDetails"
            android:screenOrientation="portrait"
            android:theme="@style/OTRThemeNoActionBar">
        </activity>
        <activity
            android:name="com.mobile.otrcapitalllc.Activities.CropImage"
            android:label="@string/title_activity_crop_image"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.LoadDetails"
            android:screenOrientation="portrait"
            android:theme="@style/OTRThemeNoActionBar">
        </activity>

        <service
            android:name="com.mobile.otrcapitalllc.Activities.GetBrokers"
            android:exported="false">
        </service>
    </application>

</manifest>
