<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.otrcapitalllc">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".OTRCapital"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/OTRThemeNoActionBar">

        <provider
            android:name=".Helpers.GenericFileProvider"
            android:authorities="com.mobile.otrcapitalllc.Helpers.GenericFileProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name=".Activities.LoginScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:theme="@style/OTRThemeNoActionBar"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainDashboard"
            android:label="@string/title_activity_main_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRThemeNoActionBar">
        </activity>
        <activity
            android:name=".Activities.SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.LoginScreen"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name=".Activities.ContactUs"
            android:label="@string/title_activity_contact_us"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name=".Activities.History"
            android:label="@string/title_activity_history"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name=".Activities.OpenFuelAdvancesActivity"
            android:label="@string/title_activity_open_fuel_advances"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name=".Activities.FactorAdvanceLoad"
            android:label="@string/title_activity_factor_advance_load"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name=".Activities.BrokerCheck"
            android:label="@string/title_activity_broker_check"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name=".Activities.BrokerDetails"
            android:label="@string/title_activity_broker_details"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.BrokerCheck"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name=".Activities.LoadDetails"
            android:label="@string/title_activity_load_details"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.MainDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/OTRTheme">
        </activity>
        <activity
            android:name=".Activities.RefineCapture"
            android:label="@string/title_activity_refine_capture"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.LoadDetails"
            android:screenOrientation="portrait"
            android:theme="@style/OTRThemeNoActionBar">
        </activity>
        <activity
            android:name=".Activities.CropImage"
            android:label="@string/title_activity_crop_image"
            android:parentActivityName="com.mobile.otrcapitalllc.Activities.LoadDetails"
            android:screenOrientation="portrait"
            android:theme="@style/OTRThemeNoActionBar">
        </activity>

        <service
            android:name=".Services.GetBrokers"
            android:exported="false">
        </service>

        <service android:name=".Services.FirebaseCloudMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".Services.FirebaseInstanceIdentifierService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="02e263e038a91f7d4e860c48bc3670eb70371e63"
        />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
    </application>

</manifest>
